requests
asyncio
lxml
playwright
beautifulsoup4
python-dotenv
neo4j
langgraph
langchain
langchain_ollama
langchain-groq
langchain-community
langchain-neo4j[ollama]
langchain-mcp-adapters
ollama
certifi
neo4j
neo4j_graphrag
duckduckgo-search
mcp
rich
streamlit
qdrant-client
langgraph-checkpoint-postgres
psycopg[binary,pool]
torchvision
