requests
asyncio
lxml
playwright
beautifulsoup4
neo4j
langgraph
langchain
langchain_ollama
langchain-community
langchain-neo4j[ollama]
langchain-mcp-adapters
ollama
certifi
neo4j
neo4j_graphrag
duckduckgo-search
mcp